.body {
  background: rgb(239, 242, 245);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  place-items: center;
}

.calculator {
  border-radius: 20px;
  max-width: 400px;
  background-color: rgb(90, 107, 119);
  box-shadow: -10px 13px 29px -12px rgba(0, 0, 0, 0.98);
}

.calculator__keys {
  margin: 20px;
  display: grid;
}

.calculator__key {
  outline-width: 0;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: none;
  color: white;
  font-size: 25px;
  background-color: rgb(172, 188, 202);
  border-radius: 40px;
}
.calculator__key:hover {
  background-color: rgb(200, 192, 250);
}
.calculator__key:active {
  background-color: rgb(250, 192, 150);
}

.calculator__output {
  border-radius: 4px;
  max-width: 290px;
  padding-left: 10px;
  margin: 30px;
  height: 50px;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(233, 227, 227);
  overflow: auto;
}

.calculator__key--enter {
  background-color: rgb(255, 112, 119);
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
  height: auto;
}

.title {
  color: white;
  position: relative;
  top: 20px;
  left: 30px;
}

.calculator__key--operator {
  background-color: rgb(100, 134, 163);
}
